<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutputViewer2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OutputViewer2._0.Properties.Settings>
            <setting name="Font" serializeAs="String">
                <value>Microsoft Sans Serif, 14pt</value>
            </setting>
            <setting name="MainFormHeight" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="MainFormWidth" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="FilePath" serializeAs="String">
                <value>C:\\ScAbbuchen.ini</value>
            </setting>
            <setting name="jobWidth" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="stackWidth" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="nameWidth" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="partWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="lengthWidth" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="widthWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="heightWidth" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="gradeWidth" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="rowsToKeep" serializeAs="String">
                <value>5</value>
            </setting>
        </OutputViewer2._0.Properties.Settings>
    </userSettings>
</configuration>